<div class="login-header">
  <img class="wahis-logo" src="../../../../assets/images/Logo Wahis.png" alt="">
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="login-form-container">
        <div class="login-form-header">
          <h2>Login</h2>
        </div>
        <form class="login-form">
          <div class="form-group input-holder">
            <label for="username">Username</label>
            <input class="input" type="text" name="username" id="username">
          </div>

          <div class="form-group input-holder">
            <label for="password">Password</label>
            <input class="input" type="text" name="password" id="password">
          </div>

          <div class="login-submit-button">Login</div>

        </form>
      </div>
    </div>
  </div>

</div>



<!-- <div class="login-footer">

</div> -->