.button-box{
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 12rem;
    background: #E91E43;
    text-align: center;
    line-height: 12rem;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.mg-p{
    height: 30rem;
    color: white;
    text-align: center;  
}
.h1{
    font-size: 6rem;
}
.overlay{
    padding-top: 10rem;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.management-container{
    height: 100vh;
}

.home-button{
    margin: 0 auto;
    display: block;
    width: 40%;
    height: 8rem;
    background-color: #337ab7;
    text-align: center;
    line-height: 8rem;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 3rem;
}

.home-button-container{
    margin-top: 5rem;
}

@media screen and (max-width: 767px) {
    .home-button {
        width: 90%;
    }
}
