
<div class="skill-container">
    <div class="overlay">
      <div class="mg-p">
        <h1 class="h1">Skill Management</h1>
      </div>
  
      <div class="container">
        <div class="row">
  
          <div class="col-lg-6">
            <div class="button-box" routerLink="addskill">
              <p>Add new Skill</p>
            </div>
          </div>
  
          <div class="col-lg-6">
            <div class="button-box" routerLink="skilllist">
              <p>Skill List</p>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>