.heading{
    text-align: center;
}

.white-text{
    color: white;
}
.heading-container{
    padding: 10rem 0rem;
}
.button-box-navigate{
    display: block;
    height: 6rem;
    background: #E91E43;
    text-align: center;
    line-height: 6rem;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 2rem;
}
.no-data-message{
    width: 80%;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
}
.middle-button{
    margin: 0 auto;
}

.width-50{
    width: 30%;
}

:host >>> .ui-paginator{
    border: 0px;
    background: transparent;
    margin-bottom: 8rem;
 }

:host >>> .ui-button{
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.skill-name{
    display: inline;
}
 .employee-data{
    height: 40vh;
}