<div class="management-container">
    <div class="overlay">
  <div class="mg-p">
    
        <h1 class="h1">Management Portal</h1>
    
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="button-box" (click)="addEmployee()">
          <p>Create User</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="button-box" routerLink="employeelist">
          <p>Employees List</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
