<div class="management-container">
  <div class="overlay">
    <div class="mg-p">
      <h1 class="h1">Employee Management Portal</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="button-box" routerLink="addemployee">
            <p>Add New Employee</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="button-box" routerLink="employeelist">
            <p>Employees List</p>
          </div>
        </div>
      </div>

      <div class="row home-button-container">
        <div class="col-lg-12 col-sm-12">
          <div class="home-button" routerLink="">
            <p>Back to Portal</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>