<div class="portal-container">
  <div class="overlay">
    <div class="mg-p">
      <h1 class="h1">User Portal</h1>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-lg-6">
          <div class="button-box" routerLink="employeemanagement">
            <p>Employee Management</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="button-box" routerLink="skillmanagement">
            <p>Skill Management</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
